# parameters here are without the - VARNAME sintaxis
## NODE ##
NODE_ENV=development
AUTOMIGRATE=yes

#- DEBUG=loopback for full debug
DEBUG="loopback:connector:postgresql"

## DB configuration ##
POSTGRES_DB=DBNAME
POSTGRES_USER=user
POSTGRES_PASSWORD=password
